<div class = "main-content">
    {{>header}}
    {{!-- <img class="potrait" src="https://www.fcbarcelona.com/photo-resources/2020/03/07/3dec9958-517d-491f-b355-5e69193db7cb/mini_2020-03-07-BARCELONA-R.-SOCIEDAD-74.JPG?width=1200&height=750" > --}}
    <p>This is the about page!</p>
</div>
{{>footer}}