<div class = "main-content">
    {{>header}}
    <p>For this site to work, the user needs to make sure his/her pc is connected to a good internet connection.</p>
    <p>The Weather page takes the location as the input, if the information regarding that specific location is available
        , the site displays the overall weather the temperature(in celcius) and the rain probability of that location</p>
    <p>If the location entered by the user is unknown to the site, or if no location is entered by the user and and search button is pressed, the site will display suitable error message.</p>
    <p>In case of no internat connection, an error message will be displayed on pressing the search button.</p>
    <p>Have fun using the app :(</p>
</div>
{{>footer}}