<div class="main-content">
    {{>header}}
    <p>Use this page to get the weather report!</p>
    <form id = "f1">
        <input id = "i1" placeholder="Location">
        <button>Search</button>
    </form>
    {{!-- <h4>OR</h4>
    <h2>Try it with exact Co-Ordinates!</h2>
    <form id = "f2">
        <div>
            <input id = "i2" placeholder="Longitude">
        </div>
        <div>
            <input id = "i3" placeholder="Latitude">
        </div>
        <div>
            <button>
                Search
            </button>
        </div>
        
    </form> --}}

    <p id="messageOne"></p>
    <p id="messageTwo"></p>
</div>
<script src="/js/app.js"></script>
{{>footer}}