<!DOCTYPE html>
<head>
    <title>Document</title>
    <link rel="icon" href="/badal.png">
    <link rel="stylesheet" href="/css/styles.css">    
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <div>
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </header>
